POSTGRES_USER=warehouse_user
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=ecommerce_warehouse
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

READONLY_DB_USER=bi_readonly
READONLY_DB_PASSWORD=your_readonly_password_here

ANTHROPIC_API_KEY=your_anthropic_api_key_here
